<div class="bg-gray-900 w-full h-20 fixed top-0 flex items-center" style="margin-left: -16px; justify-content: start;">
  <h1 class="text-2xl font-bold text-white ml-9 flex items-center"><i class="bi bi-projector-fill mr-4"></i>Projectors</h1>
</div>

<div class="container mx-auto mt-20">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div *ngFor="let projector of projectors" class="bg-gray-200 rounded-lg shadow-md mb-4">
      <div class="bg-gray-200 p-4 rounded-lg">
        <h5 class="text-xl font-bold">{{ projector.Brand }}</h5>
        <p class="text-gray-700"><strong>ID:</strong> {{ projector.id }}</p>
        <p class="text-gray-700"><strong>Model:</strong> {{ projector.Model }}</p>
        <!-- Display Information Section -->
        <div class="bg-white mt-3 rounded-lg shadow-inner rounded-lg">
          <div class="bg-gray-700 text-white flex justify-between items-center p-2 rounded-t-lg">
            <span>Display Information</span>
            <button (click)="toggleDisplayInfo()" class="text-white focus:outline-none">
              <i class="fas fa-eye" [ngClass]="{'fa-eye white-icon': showDisplayInfo, 'fa-eye-slash white-icon': !showDisplayInfo}"></i>
            </button>
          </div>
          <div [ngClass]="getAnimationClass('display')" class="p-4" *ngIf="showDisplayInfo">
            <p class="text-gray-700"><strong>Display Size:</strong> {{ projector.DisplaySize }}</p>
            <p class="text-gray-700"><strong>Refresh Rate:</strong> {{ projector.RefreshRate }}</p>
            <p class="text-gray-700"><strong>Display Technology:</strong> {{ projector.DisplayTech }}</p>
            <p class="text-gray-700"><strong>Pixel Resolution:</strong> {{ projector.PixelResolutions }}</p>
            <p class="text-gray-700"><strong>Max Resolution:</strong> {{ projector.MaxResolutions }}</p>
          </div>
        </div>
        <!-- Connectivity Section -->
        <div class="bg-white mt-3 rounded-lg shadow-inner rounded-lg">
          <div class="bg-gray-700 text-white flex justify-between items-center p-2 rounded-t-lg">
            <span>Connectivity</span>
            <button (click)="toggleConnectivity()" class="text-white focus:outline-none">
              <i class="fas fa-eye" [ngClass]="{'fa-eye white-icon': showConnectivity, 'fa-eye-slash white-icon': !showConnectivity}"></i>
            </button>
          </div>
          <div [ngClass]="getAnimationClass('connectivity')" class="p-4" *ngIf="showConnectivity">
            <p class="text-gray-700"><strong>Outputs:</strong> {{ projector.Output }}</p>
            <p class="text-gray-700"><strong>Speaker:</strong> {{ projector.Speaker }}</p>
            <p class="text-gray-700"><strong>Wireless Connections:</strong> {{ projector.WirelessConnections }}</p>
            <p class="text-gray-700"><strong>Bluetooth:</strong> {{ projector.Bluetooth }}</p>
            <p class="text-gray-700"><strong>Connections:</strong> {{ projector.Connenctions }}</p>
            <p class="text-gray-700"><strong>Smart:</strong> {{ projector.Smart }}</p>
            <p class="text-gray-700"><strong>OS:</strong> {{ projector.OS }}</p>
            <p class="text-gray-700"><strong>VESA:</strong> {{ projector.VESA }}</p>
          </div>
        </div>
        <!-- Additional Information Section -->
        <div class="bg-white mt-3 rounded-lg shadow-inner rounded-lg">
          <div class="bg-gray-700 text-white flex justify-between items-center p-2 rounded-t-lg">
            <span>Additional Information</span>
            <button (click)="toggleAdditionalInfo()" class="text-white focus:outline-none">
              <i class="fas fa-eye" [ngClass]="{'fa-eye white-icon': showAdditionalInfo, 'fa-eye-slash white-icon': !showAdditionalInfo}"></i>
            </button>
          </div>
          <div [ngClass]="getAnimationClass('additional')" class="p-4" *ngIf="showAdditionalInfo">
            <p class="text-gray-700"><strong>Color:</strong> {{ projector.Color }}</p>
            <p class="text-gray-700"><strong>Production Year:</strong> {{ projector.ProductionYear }}</p>
            <p class="text-gray-700"><strong>Stock Date:</strong> {{ projector.StockDate }}</p>
            <p class="text-gray-700"><strong>Stock:</strong> {{ projector.Stock }}</p>
            <p class="text-gray-700"><strong>Sold:</strong> {{ projector.Sold }}</p>
            <p class="text-gray-700"><strong>Price:</strong> {{ projector.Price | currency }}</p>
            <p class="text-gray-700"><strong>Profit:</strong> {{ projector.Profit | currency }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
