<div class="bg-gray-900 w-full h-20 fixed top-0 flex items-center" style="margin-left: -16px; justify-content: start;">
  <h1 class="text-2xl font-bold text-white ml-9 flex items-center"><i class="bi bi-123 mr-4"></i>Number Of Devices</h1>
</div>

<!-- Main container for the Device Counts component -->
<div class="flex flex-col items-center lg:items-start lg:justify-center px-4 mt-20 w-full">

  <!-- Conditional wrapper to display device counts if available -->
  <div class="w-full lg:10" *ngIf="deviceCounts && deviceCounts.ProductCount">

    <!-- Card container with a polished design and slight elevation -->
    <div class="bg-white shadow-xl rounded-lg px-8 py-6">

      <!-- Section title with bold styling and accent color -->


      <!-- Table container for device data, with custom border and accent colors -->
      <table class="w-full border border-gray-300 rounded-lg overflow-hidden">
        <thead class="bg-blue-100 text-blue-700 font-semibold uppercase text-sm">
        <tr>
          <th class="py-3 px-5 text-left" colspan="6">Device Counts Summary</th>
        </tr>
        </thead>
        <!-- Table header with background color and padding adjustments -->
        <thead class="bg-gray-700 text-white font-semibold uppercase text-sm">
        <tr>
          <th class="py-3 px-5 text-left">Product Type</th>
          <th class="py-3 px-5 text-center">Count</th>
        </tr>
        </thead>

        <!-- Table body with alternating row colors for readability -->
        <tbody>
        <!-- Loop through each device item, styling rows with hover effect -->
        <tr *ngFor="let device of deviceCounts.ProductCount" class="hover:bg-blue-50 even:bg-gray-50">
          <td class="py-3 px-5 text-gray-800 border-b border-gray-200">{{ device.ProductType }}</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ device.Count }}</td>
        </tr>

        <!-- Footer row for displaying the total count in bold -->
        <tr class="bg-blue-100 font-bold text-blue-700">
          <td class="py-3 px-5 border-t border-gray-900">TOTAL COUNT</td>
          <td class="py-3 px-5 text-center border-t border-gray-900">{{ deviceCounts.TotalCount }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>



  <div class="w-full px-1 mt-12">
    <div class="w-full bg-white shadow-xl rounded-lg px-8 py-6">
      <table class="w-full border border-gray-200 rounded-lg overflow-hidden">
        <thead class="bg-blue-100 text-blue-700 font-semibold uppercase text-sm">
        <tr>
          <th class="py-3 px-5 text-left" colspan="6">Device Counts Summary</th>
        </tr>
        </thead>
        <thead class="bg-gray-700 text-white font-semibold uppercase text-sm">
        <tr>
          <th class="py-3 px-5 text-left">Details</th>
          <th class="py-3 px-12 text-left">
            <div class="flex items-center">
              <span class="text-xs font-semibold mr-3">Start Date:</span>
              <input type="date" id="startDate" [(ngModel)]="startDate" (change)="onDataChange()" class="w-29 px-3 py-1 text-sm text-gray-900 border rounded-lg focus:outline-none focus:ring focus:ring-blue-300">
            </div>
          </th>
          <th class="py-3 px-3 text-left">
            <div class="flex items-center">
              <span class="text-xs font-semibold mr-2">End Date:</span>
              <input type="date" id="endDate" [(ngModel)]="endDate" (change)="onDataChange()" class="w-29 px-3 py-1 text-sm text-gray-900 border rounded-lg focus:outline-none focus:ring focus:ring-blue-300">
            </div>
          </th>
          <th class="py-3 px-3 text-left flex-grow"></th>
          <th class="py-3 px-3 text-left">
            <div class="flex items-center justify-end">
              <span class="text-xs font-semibold mr-2">Search:</span>
              <input type="text" [(ngModel)]="searchTerm" (input)="onSearchChange()" class="bg-gray-800 text-white rounded-lg px-3 py-2 focus:outline-none focus:ring focus:ring-blue-500 w-32 sm:w-48" placeholder="Search by ID or Model..."/>
            </div>
          </th>
        </tr>
        </thead>
        <tbody *ngIf="startDate && endDate">
        <tr>
          <td colspan="5" class="text-center text-blue-600 py-4">
            Records Period from {{ startDate | date:'MM/dd/yyyy' }} to {{ endDate | date:'MM/dd/yyyy' }}
          </td>
        </tr>
        </tbody>
      </table>

      <div class="container mx-auto mt-10">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
          <div *ngFor="let product of filteredStockData"
               class="rounded-lg shadow-md mb-4"
               [ngClass]="{'bg-red-500': product.remainingStock === 0, 'bg-gray-200': product.remainingStock !== 0}">
            <div class="p-6 rounded-lg"> <!-- Changed from p-4 to p-5 for 20px padding -->
              <h5 class="text-xl font-bold">{{ product.productType }}</h5>
              <p class="text-gray-700"><strong>ID:</strong> {{ product.id }}</p>
              <div class="bg-white mt-3 rounded-lg shadow-inner">
                <div class="bg-gray-700 text-white flex justify-between items-center p-2 rounded-t-lg">
                  <span>Detail Information</span>
                </div>
                <div class="p-5"> <!-- Changed from p-4 to p-5 for 20px padding -->
                  <p class="text-gray-700"><strong>Brand:</strong> {{ product.brand }}</p>
                  <p class="text-gray-700"><strong>Model:</strong> {{ product.model }}</p>
                  <p class="text-gray-700"><strong>Price:</strong> {{ product.price | currency }}</p>
                  <p class="text-gray-700"><strong>Stock Date:</strong> {{ product.stockDate }}</p>
                </div>
                <div class="bg-gray-700 text-white flex justify-between items-center p-2 rounded-t-lg">
                  <span>Stock Information</span>
                </div>
                <div class="p-5"> <!-- Changed from p-4 to p-5 for 20px padding -->
                  <p class="text-gray-700"><strong>Initial Stock: <del>(Period)</del>:</strong> {{ product.totalOnStock }}</p>
                  <p class="text-gray-700"><strong>Current Stock: <del>(Period)</del>:</strong> {{ product.totalRemainsExists }}</p>
                  <p class="text-gray-700"><strong>Total Sold: <del>(Period)</del>:</strong> {{ product.soldNum }}</p>
                  <p class="text-gray-700"><strong>Sold (Period):</strong> {{ product.soldCount }}</p>
                  <p class="text-gray-700"><strong>Remainig (Period):</strong> {{ product.remaining }}</p>
                  <p class="text-gray-700"><strong>Stock From {{ startDate }}:</strong> {{ product.stockFromDate }}</p>
                  <p class="text-gray-700"><strong>Stock To {{ endDate }}:</strong> {{ product.stockToEndDate }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
      <div class="container mx-auto mt-10">
          <div *ngFor="let product of filteredStockData"
               class="rounded-lg shadow-md mb-4"
               [ngClass]="{'bg-red-500': product.remainingStock === 0, 'bg-white': product.remainingStock !== 0}">
            <div class="p-4 rounded-lg">
                <div class="p-4">
                  <h5 class="text-xl font-bold">{{ product.productType }}</h5>
                  <p class="text-gray-700"><strong>summarry:</strong> {{  summaryData.periodMonitorSum }}</p>
                  <p class="text-gray-700"><strong>Model:</strong> {{ product.model }}</p>
                  <p class="text-gray-700"><strong>Brand:</strong> {{ product.brand }}</p>
                  <p class="text-gray-700"><strong>Remainig for Period:</strong> {{ product.remaining }}</p>
                  <p class="text-gray-700"><strong>On Stock from {{ startDate }}:</strong> {{ product.stockFromDate }}</p>
                </div>
              </div>
          </div>
      </div>
      -->
    </div>
  </div>

  <div *ngIf="filteredStockData.length === 0" class="w-full mt-4 p-4 bg-red-100 border border-red-500 text-red-700 rounded-md">
    <p class="text-center">No data found for the selected date range. Please pick Start Date & End Date.</p>
  </div>


  <div class="w-full lg:9 mt-12" *ngIf="summaryData">
    <div class="bg-white shadow-xl rounded-lg px-8 py-6">
      <table class="w-full border border-gray-300 rounded-lg overflow-hidden">

        <!-- Title row for the summary section -->
        <thead class="bg-blue-100 text-blue-700 font-semibold uppercase text-sm">
        <tr>
          <th class="py-3 px-5 text-left" colspan="6">Summary</th>
        </tr>
        </thead>

        <!-- Column headers for each type of count -->
        <thead class="bg-gray-700 text-white font-semibold uppercase text-sm">
        <tr>
          <th class="py-3 px-6 text-left">Type</th>
          <th class="py-3 px-5 text-center">Initial Stock</th>
          <th class="py-3 px-5 text-center">Current Stock</th>
          <th class="py-3 px-5 text-center">Sold Sum (Period)</th>
          <th class="py-3 px-5 text-center">Stock from ({{ startDate ? startDate : 'yyyy/mm/dd' }})</th>
          <th class="py-3 px-5 text-center">Stock to ({{ endDate ? endDate : 'yyyy/mm/dd' }})</th>
        </tr>
        </thead>

        <!-- Table body with data rows for each summary category -->
        <tbody>
        <tr class="hover:bg-blue-50 even:bg-gray-50">
          <td class="py-3 px-5 text-left text-gray-800 border-b border-gray-200">Monitor</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ summaryData.initialMonitorStock }}</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ summaryData.currentMonitorStock }}</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ summaryData.periodMonitorSum }}</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ summaryData.startMonitor }}</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ summaryData.endMonitor }}</td>
        </tr>

        <tr class="hover:bg-blue-50 even:bg-gray-50">
          <td class="py-3 px-5 text-left text-gray-800 border-b border-gray-200">Television</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ summaryData.initialTelevisionStock }}</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ summaryData.currentTelevisionStock }}</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ summaryData.periodTelevisionSum }}</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ summaryData.startTelevision }}</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ summaryData.endTelevision }}</td>
        </tr>

        <tr class="hover:bg-blue-50 even:bg-gray-50">
          <td class="py-3 px-5 text-left text-gray-800 border-b border-gray-200">Projector</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ summaryData.initialProjectorStock }}</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ summaryData.currentProjectorStock }}</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ summaryData.periodProjectorSum }}</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ summaryData.startProjector }}</td>
          <td class="py-3 px-5 text-center text-gray-900 border-b border-gray-200">{{ summaryData.endProjector }}</td>
        </tr>
        </tbody>

        <!-- Footer with total summary row -->
        <tfoot class="bg-blue-100 text-blue-700 font-semibold uppercase text-sm">
        <tr>
          <th class="py-3 px-5 text-left">Summary</th>
          <th class="py-3 px-5 text-center">{{ summaryData.totalInitialStock }}</th>
          <th class="py-3 px-5 text-center">{{ summaryData.currentTotalStock }}</th>
          <th class="py-3 px-5 text-center">{{ summaryData.totalPeriodSum }}</th>
          <th class="py-3 px-5 text-center">{{ summaryData.stockFromStart }}</th>
          <th class="py-3 px-5 text-center">{{ summaryData.stockToEnd }}</th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
